<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>business</key>
		<string>金真子纸上烤肉</string>
		<key>pic</key>
		<string>1.jpg</string>
		<key>product</key>
		<string>自助餐</string>
		<key>price</key>
		<string>51</string>
		<key>saleNumber</key>
		<string>11244</string>
		<key>productClass</key>
		<string>美食</string>
		<key>location</key>
		<string>回龙观</string>
	</dict>
	<dict>
		<key>business</key>
		<string>比亚森</string>
		<key>product</key>
		<string>自助餐</string>
		<key>price</key>
		<integer>59</integer>
		<key>saleNumber</key>
		<integer>255537</integer>
		<key>pic</key>
		<string>2.jpg</string>
		<key>productClass</key>
		<string>美食</string>
		<key>location</key>
		<string>顺义</string>
	</dict>
	<dict>
		<key>business</key>
		<string>好伦哥（天坛东门店）</string>
		<key>product</key>
		<string>自助餐</string>
		<key>price</key>
		<string>51</string>
		<key>saleNumber</key>
		<string>7683</string>
		<key>pic</key>
		<string>3.jpg</string>
		<key>productClass</key>
		<string>美食</string>
		<key>location</key>
		<string>天坛</string>
	</dict>
	<dict>
		<key>business</key>
		<string>比格比萨（常营店）</string>
		<key>product</key>
		<string>自助餐</string>
		<key>price</key>
		<string>51</string>
		<key>saleNumber</key>
		<string>4559</string>
		<key>pic</key>
		<string>4.jpg</string>
		<key>productClass</key>
		<string>美食</string>
		<key>location</key>
		<string>常营</string>
	</dict>
	<dict>
		<key>business</key>
		<string>好伦哥自助比萨（米拉餐厅）</string>
		<key>product</key>
		<string>自助餐</string>
		<key>price</key>
		<string>49</string>
		<key>saleNumber</key>
		<string>6945</string>
		<key>pic</key>
		<string>5.jpg</string>
		<key>productClass</key>
		<string>美食</string>
		<key>location</key>
		<string>马驹桥</string>
	</dict>
	<dict>
		<key>business</key>
		<string>汉丽轩烤肉超市（北大地店）</string>
		<key>product</key>
		<string>自助餐</string>
		<key>price</key>
		<string>45</string>
		<key>saleNumber</key>
		<string>6900</string>
		<key>pic</key>
		<string>6.jpg</string>
		<key>productClass</key>
		<string>美食</string>
		<key>location</key>
		<string>北大地</string>
	</dict>
</array>
</plist>
