<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Uber滑动选择.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04546F671D2597E50095F680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04546F801D2597E50095F680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04546F8B1D2597E50095F680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
